.navMenuActive {
    background-color: cadetblue;
    transition: none;
}
.navMenuActive:hover {
    background-color: cadetblue;
}
/*.mud-list-item-clickable:focus:not(.mud-selected-item){*/
/*    background-color: cadetblue;*/
/*}*/

.navMenuInActive{
    background-color: inherit;
    transition: none;
}

.navMenuInActive:hover{
    background-color: gray;
}


.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 40vh auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: #bfbbbb;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #5dff00ff;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    color: #5dff00ff;
    text-align: center;
    font-weight: bold;
    inset: calc(40vh + 3.25rem) 0 auto 0.2rem;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid black;
    border-color: black transparent black transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}