@page "/Certifications"
<h3 style="text-align: center">Certifications</h3>
<div style="margin-left: 5%;margin-right: 5%;">
<MudCarousel Style="width:80vw;height:85vh; color: black"  ShowDelimiters="false" AutoCycleTime="TimeSpan.FromSeconds(8)" TData="object">
    <MudCarouselItem Transition="Transition.Slide">
        <img src="Certs/Blazor.png"  width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <img src="Certs/MVC5.png"  width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <img src="Certs/CSharpDev.png" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <img src="Certs/ASPNETDev.png" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <img src="Certs/AgileDev.png" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <img src="Certs/MicrosoftCLoud.png" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <img src="Certs/GoogleITSupp.png" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <img src="Certs/GoogleITAutom.png" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <img src="Certs/Python3.png" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <img src="Certs/PythonDataScience.png" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <img src="Certs/DJANGO.png" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <img src="Certs/PY4E.png" width="100%" height="100%"/>
    </MudCarouselItem>
</MudCarousel>
</div>
@code {
    
}