@page "/Certifications"
<h3 style="text-align: center">Certifications</h3>
<div style="margin-left: 5%;margin-right: 5%;">
<MudCarousel Style="width:80vw;height:85vh; color: white"  ShowDelimiters="false" AutoCycleTime="TimeSpan.FromSeconds(6)" TData="object">
    <MudCarouselItem Transition="Transition.Slide">
        <embed src="PDF/Blazor.pdf#toolbar=0&view=FitV" type="application/pdf" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <embed src="PDF/Certificate-Microsoft-Cloud-Tools-and-Technology-Academy-Spyros-Karakoulak.pdf#toolbar=0&view=FitV" type="application/pdf" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <embed src="PDF/CertificateOfCompletion_Become a C Developer.pdf#toolbar=0&view=FitV" type="application/pdf" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <embed src="PDF/CertificateOfCompletion_Become an Agile Software Developer.pdf#toolbar=0&view=FitV" type="application/pdf" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <embed src="PDF/CertificateOfCompletion_Become an ASP.NET Core Developer.pdf#toolbar=0&view=FitV" type="application/pdf" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <embed src="PDF/CompleteMVC.pdf#toolbar=0&view=FitV" type="application/pdf" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <embed src="PDF/Coursera Google IT Autom.pdf#toolbar=0&view=FitV" type="application/pdf" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <embed src="PDF/Coursera Google IT Supp.pdf#toolbar=0&view=FitV" type="application/pdf" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <embed src="PDF/Coursera P4E.pdf#toolbar=0&view=FitV" type="application/pdf" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <embed src="PDF/Coursera P3.pdf#toolbar=0&view=FitV" type="application/pdf" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <embed src="PDF/Coursera DataScience.pdf#toolbar=0&view=FitV" type="application/pdf" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <embed src="PDF/Logical Ability -ALVA.pdf#toolbar=0&view=FitV" type="application/pdf" width="100%" height="100%"/>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <embed src="PDF/Personality - ALVA.pdf#toolbar=0&view=FitV" type="application/pdf" width="100%" height="100%"/>
    </MudCarouselItem>
</MudCarousel>
</div>
@code {
    
}