@page "/Contact"
@inject IJSRuntime JsRuntime
@using System.ComponentModel.DataAnnotations
@inject NavigationManager _navigationManager
<div style="text-align: center">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="margin-top: 10vh" OnClick="OpenOverlay" >Google Form</MudButton>
</div>
<div class="row">
    <div style="max-width:400px;margin:auto;">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h4">Personal Information</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText Typo="Typo.h6"><strong style="color: #8900ab">Email: </strong>spylak@@hotmail.com</MudText>
                <MudText Typo="Typo.h6"><strong style="color: #8900ab">Address: </strong>Chania,Greece</MudText>
                <MudText Typo="Typo.h6"><strong style="color: #8900ab">LinkedIn: </strong><a style="color: dodgerblue" target="_blank" href="https://gr.linkedin.com/in/spyridon-karakoulak-4267201b9?trk=public_profile_browsemap">Karakoulak Spyridon</a> </MudText>
                <MudText Typo="Typo.h6"><strong style="color: #8900ab">GitHub: </strong><a style="color: dodgerblue" target="_blank"  href="https://github.com/Spylak">Spylak</a> </MudText>
            </MudCardContent>
        </MudCard>
    </div>
    <div style="max-width:400px;margin:auto;">
        <EditForm Model="Model" OnValidSubmit="SendLocalEmail">
            <DataAnnotationsValidator/>
            <MudCard Style="height: 300px;">
                <MudCardContent>
                    <div class="row">

                        <div class="col">

                            <MudTextField Variant="Variant.Outlined" @bind-Value="Model.Subject" Label="Subject..."/>
                            <ValidationMessage For="(() => Model.Subject)"/>
                        </div>
                        <div class="col">

                            <MudCardActions>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Default" Class="ml-auto">Submit</MudButton>
                            </MudCardActions>
                        </div>
                    </div>
                    <MudTextField Lines="6" Variant="Variant.Outlined" @bind-Value="Model.Body" Label="Message..."/>
                    <ValidationMessage For="(() => Model.Body)"/>
                </MudCardContent>
            </MudCard>

        </EditForm>
    </div>
</div>
<MudOverlay @bind-Visible="isVisible" DarkBackground="true" ZIndex="9999" AutoClose="true" Style="text-align: center">
<iframe style="height:800px;width:350px;" src="https://docs.google.com/forms/d/e/1FAIpQLSdLSfIU9dKcVsb1SNUKX6_Fysz3hVYCXq3DhYDyd14jQv52OQ/viewform?embedded=true"  frameborder="0" marginheight="0" marginwidth="0">Φόρτωση…</iframe>
</MudOverlay>

@code {
    private EmailModel Model = new EmailModel();
    protected void SendLocalEmail()
    {
        _navigationManager.NavigateTo($"mailto:spylak@hotmail.com?subject={Model.Subject}&body={Model.Body}");
        JsRuntime.InvokeAsync<object>("blazorExtensions.SendLocalEmail",
            new object[] { "spylak@hotmail.com", Model.Subject, Model.Body });
    }
    public class EmailModel
    {

        [Required(ErrorMessage = "Message is required")]
        public string Body { get; set; }

        [Required(ErrorMessage = "Subject is required")]
        public string Subject { get; set; }
    }
    private bool isVisible;

    public void OpenOverlay()
    {
        isVisible = true;
        StateHasChanged();
    }
    
}