@page "/InProgress"
@inject IJSRuntime JsRuntime
@if (gridLoad=="hidden" && theme=="dark")
{
    <div>
        <img style="width: 100vw; height: 95vh;" src="images/Projects/binary.gif"/>
    </div>

}else if (gridLoad=="hidden" && theme == "light")
{    
    <div>
        <img style="width: 100vw; height: 95vh;" src="images/Projects/swirl.gif"/>
    </div>
}

<h3 style="text-align: center">In Progress</h3>
<MudCard>
    <MudCardContent>
        <MudList Clickable="true">
            <MudListItem OnClick="@(() => Click("Masters"))">
                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <img height="300px" width="300px" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.eduopinions.com%2Fwp-content%2Fuploads%2F2017%2F09%2FHellenic-Open-University-HOU-logo.png&f=1&nofb=1"/>
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <p style="text-align: center">
                            Enrolled into Part Time Distance Learning MSc in Data Science and Machine Learning in order to receive academic education on the field.
                        </p>
                    </MudItem>
                </MudGrid>
            </MudListItem>
            <MudListItem OnClick="@(() => Click("Dotnet"))">
                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <img height="300px" width="300px" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fhot33331.github.io%2Fassets%2Fimg%2Fdotnet-bot-surfing.png&f=1&nofb=1"/>
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <p style="text-align: center;">
                            Getting up to date with the recent updates of .Net 6 and Minimal APIs as well as Blazor's new features.
                        </p>
                    </MudItem>
                </MudGrid>
            </MudListItem>
            <MudListItem OnClick="@(() => Click("Linux"))">
                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <img height="300px" width="300px" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.techian.com%2Fwp-content%2Fuploads%2Flinux-distros-1152x864.jpg&f=1&nofb=1"/>
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <p style="text-align: center">
                            Becoming familiar with the Linux environment and it's usages.
                        </p>
                    </MudItem>
                </MudGrid>
            </MudListItem>
        </MudList>
    </MudCardContent>
</MudCard>

@code {
    [CascadingParameter(Name = "theme")]
    protected string theme { get; set; }
    private string gridLoad ="hidden";
    protected override async Task OnInitializedAsync()
    {
        await Visible();

        StateHasChanged();
    }
    public async Task Visible()
    {
        await Task.Delay(1500);
        gridLoad = "visible";
    }
    private async Task Click(string name)
    {
        switch (name)
        {
            case "Dotnet":
                await JsRuntime.InvokeAsync<object>("open", "https://docs.microsoft.com/en-us/dotnet/maui/", "_blank");
                break;
            case "Linux":
                await JsRuntime.InvokeAsync<object>("open", "https://code.visualstudio.com/", "_blank");
                break;
            case "Masters":
                await JsRuntime.InvokeAsync<object>("open", "https://www.eap.gr/education/postgraduate/annual/data-science-and-machine-learning/", "_blank");
                break;
        }
    }

}