@inject IJSRuntime JsRuntime

<MudCard>
    <MudCardContent>
        <MudList Clickable="true">
            <MudListItem OnClick="@(() => Click("Masters"))">
                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <img height="300px" width="300px" src="images/eap.webp"/>
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <p style="text-align: center">
                            Enrolled into Part Time Distance Learning MSc in Data Science and Machine Learning in order to receive academic education on the field.
                        </p>
                    </MudItem>
                </MudGrid>
            </MudListItem>
            <MudListItem OnClick="@(() => Click("Linux"))">
                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <img height="300px" width="300px" src="images/linux.webp"/>
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <p style="text-align: center">
                            Better understanding of Linux environment and it's usages.
                        </p>
                    </MudItem>
                </MudGrid>
            </MudListItem>
        </MudList>
    </MudCardContent>
</MudCard>

@code {
    [CascadingParameter(Name = "theme")]
    protected string theme { get; set; }
    private async Task Click(string name)
    {
        switch (name)
        {
            case "Dotnet":
                await JsRuntime.InvokeAsync<object>("open", "https://docs.microsoft.com/en-us/dotnet/maui/", "_blank");
                break;
            case "Linux":
                await JsRuntime.InvokeAsync<object>("open", "https://code.visualstudio.com/", "_blank");
                break;
            case "Masters":
                await JsRuntime.InvokeAsync<object>("open", "https://www.eap.gr/education/postgraduate/annual/data-science-and-machine-learning/", "_blank");
                break;
        }
    }

}