<div style="margin:10% auto;text-align: center" xmlns="http://www.w3.org/1999/html">
        <MudCard Style=@($"margin: auto;padding-top: 0;width: 50%;background-color: {color};border-radius: 20px")>
            <MudCardContent Style="margin-top: 0;padding-top: 0;">
                <h5>
                    <br/>
                    Greetings, my name is Karakoulak Spyridon.<br/>
                    I am a Full Stack Developer with a passion for new technologies and progression.<br/>
                    Programming is a way of life that I find particularly exciting, combining innovation, <br/>
                    challenges and future growth. Currently I enjoy working on Blazor, C# and .NET! <br/>
                                        <br/>
                    I develop and maintain web and software applications & dynamic websites! <br/>
                    The momemnt.Net MAUI releases I will dive into the world of phone apps! <br/>
                    <br/>
                    In my free time I study for my Master's Degree in Data Science and Machine Learning <br/>
                    in order to gain expertise in the field since everything at this era <br/>
                    and the one coming ahead consists of data, loads of data!.<br/>
                </h5>
                @if (theme == "light")
                {
                    <img style="height: 200px;width: 500px;" src="images/lightlogo.png"/>
                }
                else
                {
                    <img style="height: 200px;width: 500px;" src="images/dev.png"/>
                }
            </MudCardContent>
        </MudCard>
</div>

@code {
    [CascadingParameter(Name = "theme")]
    protected string theme { get; set; }
    private  string color { get; set; }
    protected override void OnParametersSet()
    {
        color = theme == "dark" ? "black" : "white";
        base.OnParametersSet();
    }

}