<h3 style="text-align: center">Copyright</h3>

<div style="margin-top: 20%;text-align: center">
    <p>The code is open source and everything used in this project can be found there</p>
    <br/>
    <p> along with their respectable links.Click <a target="_blank" style="color: dodgerblue" href="https://github.com/MrSpyretos/KarakoulakCV">here</a> for source code.</p>
</div>
@code {
    
}